.myBtn {
  z-index: 2;
}
.btn {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  transition: all ease 0.3s;
}
.myBtn::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 20px;
  background-image: url("/bg/bg.png");
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 60px;
  transform: scale(0);
  opacity: 0;
  transition: all ease 0.3s;
  z-index: -1;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.442));
}
.myBtn:hover::after {
  opacity: 1;
  transform: scale(1.8);
}
